<details>
<summary><strong>Ghazals hold a special place.
</strong></summary>
<br>
Last saturday, after returning from lab, as I was listening to <a href="https://faizahmedafaiznewtranslations.blogspot.com/2012/10/faiz-aaye-kuch-abr-kuch-sharaab-aaye.html" target="_blank"> Aaye Kuch Abr Kuch Sharaab Aaye </a> in Mehdi Hasan's voice, I went back in the timeline of my memory. Ghazals hold a special place in my heart. Coke Studio Pakistan has been the pioneer to make me fall in love with Urdu, and ghazals, mostly through the devotional songs of Abida Parveen. More importantly, it made me become curious the depth of a language in expressing the depth of our existence through the waves of sorrow and happiness.  -  
<br />
<br />
</details>